* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v114_15 {
  width: 828px;
  height: 1792px;
  background: rgba(16,41,71,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v114_16 {
  width: 828px;
  height: 100%;
  background: url("../images/v114_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v114_17 {
  width: 828px;
  height: 115px;
  background: rgba(16,41,71,0.800000011920929);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v114_18 {
  width: 698px;
  height: 306px;
  background: rgba(231,114,69,0.8999999761581421);
  opacity: 1;
  position: absolute;
  top: 743px;
  left: 65px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v114_19 {
  width: 698px;
  height: 306px;
  background: rgba(231,114,69,0.8999999761581421);
  opacity: 1;
  position: absolute;
  top: 1139px;
  left: 65px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v114_20 {
  width: 698px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 743px;
  left: 65px;
  font-family: Cabin;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v114_21 {
  width: 698px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1139px;
  left: 65px;
  font-family: Cabin;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v114_22 {
  width: 698px;
  height: 306px;
  background: rgba(231,114,69,0.8999999761581421);
  opacity: 1;
  position: absolute;
  top: 347px;
  left: 65px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v114_23 {
  width: 698px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 347px;
  left: 65px;
  font-family: Cabin;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
