<html>
    <head>
        <style>
        .text-container
        {
            margin: 190px;
            padding: 20px;
            vertical-align: center;
            text-align: center;
            float: left;
            position: relative;
            top: -200px;
            left: -200px;

        }
        </style>



        {% if title %}
        <title>{{ title }} - MATHS</title>
        {% else %}
        <title>MATHS</title>
        {% endif %}
    </head>
    <body>
        <div class="text-container">
             MATHS:
            <a href="{{ url_for('index') }}">Home</a>
            {% if not current_user.is_anonymous %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <!-- <li>{{ message }}</li>: used to display a "please log in" redundant message-->
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>