<!--  The createEvent.html file is the file where the teacher can create events for MAO. The file extends the menu outlined in the base.html file and lets the user type a description of the event. It then stores the data in an SQL lite database once
  the form is submitted.-->
{% extends "base.html" %}

{% block content %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }}<br>
            {{ form.post(cols=32, rows=4) }}<br>
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}