<!--  This will be the new database look and feel
{% extends "base.html" %}

{% block content %}

<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet"/> <!-- This inherits the classes define in base.html  -->
 <!--    <link href="./css/main.css" rel="stylesheet"/>
    <title>Document</title></head>
<body>
    <div class="v114_15"> <!-- The following code implements the classes defined in base.html and stylizes the teacher's homepage  -->
  <!--   <div class="v114_16"></div>
    <div class="v114_17"></div>
    <div class="v114_18"></div>
    <div class="v114_19"></div>
    <div class="v114_22"></div>

    <!-- The following code displays three links: Events, Student Hours and Scan Event. These links point to their corespondent pages and rely on code found in routes.py for directions  -->
   <!--  </p></span><span class="v114_20">  <p> <a href="{{ url_for('events') }}">Events</a></p></span><span ><p></p>
   <!--  </p></span><span class="v114_21">  <p> <a href="{{ url_for('studentHours') }}">Student Hours</a></p></span><span ><p></p>
    </p></span><span class="v114_23">  <p> <a href="{{ url_for('scanEvent') }}">Scan Event</a></p></span><span ><p></p>
</body>
</html>
{% endblock %}

