{% extends "base.html" %}

{% block content %}
<html>
<link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet"/> <!--  references the style classes from base.html  -->
        <link href="./css/main.css" rel="stylesheet"/>
        <title>Document</title></head>
<head>
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet"/> <!-- This inherits the classes define in base.html  -->
    <link href="./css/main.css" rel="stylesheet"/>
    <title>Document</title></head>
<body>
<div class="v9_5">
            <div class="v9_6"></div>
            <span class="v9_11">Or</span>
                <span class="v9_28">Scan Event Page </span> <!--  Displays the MATHS name  -->
    <div class="v114_15"> <!-- The following code implements the classes defined in base.html and stylizes the teacher's homepage  -->
    <div class="v114_16"></div>
    <div class="v114_17"></div>
    <div class="v114_18"></div>
    <div class="v114_19"></div>
    <div class="v114_22"></div>

</p></span><span class="v114_20">  <p> <a href="{{ url_for('events') }}">Pi day social </a></p></span><span ><p></p>

</p></span><span class="v114_21">  <p> <a href="{{ url_for('events') }}">Math Jeopardy </a></p></span><span ><p></p>

 </p></span><span class="v114_23">  <p> <a href="{{ url_for('events') }}">Math Bingo </a></p></span><span ><p></p>


<a href="#">Register for events</a>
</body>
</html>
{% endblock %}