{% extends "base.html" %}

{% block content %}

<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet"/>
    <link href="./css/main.css" rel="stylesheet"/>
    <title>Document</title></head>
<body>
<div class="v114_15">
    <div class="v114_16"></div>
    <div class="v114_17"></div>
    <div class="v114_18"></div>
    <div class="v114_19"></div>
    <div class="v114_22"></div>
    </p></span><span class="v114_20">  <p> <a href="{{ url_for('events') }}">Events</a></p></span><span ><p></p>
    </p></span><span class="v114_21">  <p> <a href="{{ url_for('studentHours') }}">Student Hours</a></p></span><span ><p></p>
    </p></span><span class="v114_23">  <p> <a href="{{ url_for('scanEvent') }}">Scan Event</a></p></span><span ><p></p>
</body>
</html>
{% endblock %}

